In order to run the following dependencies need to be met:

1) .NET 6: https://dotnet.microsoft.com/en-us/download
2) Node Js LTS (v. 16.15.1): https://nodejs.org/en/
3) Vue 3: https://vuejs.org/guide/quick-start.html#with-build-tools
4) Quasar Framework: https://quasar.dev/start/quasar-cli#installation-project-scaffolding
