@model Author

@{
    ViewData["Title"] = "Login";
}

<div id="login-bg"></div>
<div id="login-form-container">
    <form asp-controller="Profile" asp-action="LoginAuthor" method="post" id="login-form">        
        <div class="login-form-field">
            <input asp-for="Username" class="login-form-input" type="email" placeholder="Email / Username" required/>
        </div>
        <div class="login-form-field">
            <input asp-for="Password" class="login-form-input" type="password" placeholder="Password" required/>                         
        </div>
        <div class="login-form-field">
            <button class="login-form-btn" type="submit">Log in</button>                   
        </div>
    </form>  
</div>

